* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #ff00ff;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

.header > div {
  height: 70px;
  background-color: #fbb3ff;
  width: 140px;
  margin: 0 10px;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.main-visual {
  width: 300px;
  background-color: #d8ffb6;
}

.box-visual {
  background-color: #00b522;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background-color: #fff75a;
  margin: 10px;
  flex-basis: 200px;
  height: 130px;
}

footer {
  background-color: #52a1ff;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  background-color: #b6e7ff;
  margin: 10px;
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
}
