* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: palevioletred;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

.header-box {
  height: 70px;
  background-color: rgb(255, 192, 241);
  flex-basis: 140px;
  margin: 10px;
}

.header-box:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-visual {
  width: 300px;
  background-color: palegreen;
}

.box-visual {
  background-color: green;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: yellow;
  margin: 10px;
  flex-basis: 200px;
  height: 130px;
}

footer {
  background-color: blue;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  background-color: paleturquoise;
  margin: 10px;
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
}
